DATABASE_URL= #"file:./dev.db"
AUTH_SECRET= 

GEMINI_API_KEY=

INTEGRATION_SECRET=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=#<email>@gmail.com
SMTP_PASS=rdby ipxj eymq tjfa
SMTP_FROM=#<email>@gmail.com